<section>
  <img [src]="itemMarvel.image"
       alt="Imagen Marvel">

  <div class="content-body">
    <span>{{itemMarvel.title}}</span>
    <p>{{itemMarvel.body}}</p>
  </div>

  <div class="options">
    <button class="btn btn-icon d-flex justify-content-center"
            (click)="clickEvent.emit('EDIT')">
      <i class='bx bx-edit'></i>
    </button>
    <button class="btn btn-icon d-flex justify-content-center"
            (click)="clickEvent.emit('DELETE')">
      <i class='bx bx-trash'></i>
    </button>
  </div>

</section>
